:root {
  --navy: #001564;
  --teal: #07b1aa;
  --dark-blue: #0a5be0;
  --secondary-blue: #5b8ceb;
  --dark-navy: #121b51;
  --dark-gray: #77838f;
  --slate: #333333;
  --white: #ffffff;
  --light-gray: #eff6ff;
  --light-slate: #afb4bc;
  --red: #ff4445;
  --orange: #ef8943;
  --dark-teal: #24ae8f;
  --green: #80d6a1;
  --bright-teal: rgba(7, 177, 170, 10%);
}

.api-button {
  padding: 7px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 400;
}

.api-button-teal {
  background-color: var(--bright-teal);
  color: var(--teal);
}

.api-button-blue {
  background-color: rgba(10, 91, 224, 10%);
  color: var(--dark-blue);
}
